<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
   <!-- Navigation bar -->
<div class="navbar">

    <!-- Right-aligned items -->
    <div class="right-menu">
        <a href="{% url 'mainpage' %}">Home</a>
        
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">Login</a> <!-- Render login link only if user is not authenticated -->
        {% endif %}
        
        <div class="dropdown">
            <a href="#" class="dropbtn">Check this</a>
            <div class="dropdown-content">
                <a href="#">About US</a>
                <a href="#">Gallery</a>
                <a href="#">In-store</a>
            </div>
        </div>
        <a href="a href="{% url 'myview' %}>Contact</a>
        <!-- <li><a href="{% url 'myview' %}">My View</a></li> -->
        
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a> <!-- Render logout link only if user is authenticated -->
        {% endif %}
    </div>
</div>

    <!-- Main content -->
    <div class="container">
        <h1>Welcome to My Website</h1>
        <p>This is the mainpage of my Django web application.</p>
        <p>You can customize this page with your content, links, and images.</p>
    </div>
</body>
</html>
